@charset "UTF-8";
@font-face {
    font-family: 'alfa';
    src: url('../font/SmoochSans.ttf');
}

@font-face {
    font-family: 'destaque';
    src: url('../font/JosefinSans.ttf');
}




:root {
    --cor0: #ffffff;
    --cor1: #ccfaa1;
    --cor2: #434e39d7;
    --cor3: #43bddbd2;
    --cor4: #F58634;
    --cor5: rgba(58, 58, 58, 0.808);
    --cor6: black;
    --cor7: #57A695;
    --cor8: #687675;
    --cor9: #606062;
    --cor10: #6A8787;

    --fonte-texto: 'arial', verdana, helvetica;
    --fonte-destaque: 'destaque', sem serifa;
    --fonte-header: 'alfa', Courier, monospace;
}

body {
   width: 100%;
   height: 100%;
   min-height: 100vh;
   background-image: linear-gradient(var(--cor5), var(--cor8));
   margin:0px;
   padding:0px;
   font-family: var(--fonte-texto);      
    
}
* {
    margin: 0px;
    padding:  0px;
   }
ul{
    padding: 0px!important;
}
.menu-principal {
    width: 100%;
    background-image: url('../img/AlfaNerd.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 210px;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.541);
}
main {
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.logo {
    padding: 25px;
    padding-top: 0px;
    padding-right: 0px;
    margin: 10px;
    float: left;
    background-position: left;
}
.menu-principal h1 {
    text-align: center;
    /*width:30%;*/
    color: var(--cor4);
    padding-top:15px;
    font-size:  min(40px, 2.9vw);
    text-shadow: 1px 1px 0px var(--cor6);
}
.redes-sociais ul li {
    margin-left: 9px;
    margin-top: 10px;
    display: inline-block;
    float: left;
    list-style: none;
}
.redes-sociais {
    padding-right: 0px;
    padding-top: 100px;
    position: relative;
    width: 15%;
    float: right;
}
.header-2 {
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;
}
.menu-urls {
    background-image: linear-gradient(var(--cor8), var(--cor6));
    border-bottom: 3px solid black;
    height: 1px;
    padding: 3px;
    padding-bottom: 30px;
    margin: 0 auto;
    width: 100%;
    position: relative;
}
.menu ul li {
    display: inline-block;
    color: #57A695;
    margin-left: 15px;    
}
.menu ul li a {
    text-decoration: none;
    font-family: var(--fonte-destaque);
   color: #ffffff;
   font-size: min(18px, 2.9vw);
    text-shadow: 1px 1px 0px var(--cor6);  
  /* text-transform: uppercase; /*coloca o que foi escrito em maiusculo */ 
}
.menu {
width: 20%;
float: left;
padding: 5px; 
margin: 0px; 
position: absolute
}
.busca {
    text-align: center center;
    width: 16.5%;
    float: right;
}
.busca input {
    height: 20px;
    padding: 8px;
    width: 160px;
   margin:0;
   padding: 2px;
}
.col-100 {
    width: 100%;
    float: left;
    position: relative;
}

.corpodosite {
    background-color: white;
    min-width: 300px;
    max-width: 940px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.603);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
  