@charset "UTF-8";

@font-face {
    font-family: 'alfa';
    src: url('../font/SmoochSans.ttf');
}

@font-face {
    font-family: 'destaque';
    src: url('../font/JosefinSans.ttf');
}




:root {
    --cor0: #ffffff;
    --cor1: #ccfaa1;
    --cor2: #434e39d7;
    --cor3: #43bddbd2;
    --cor4: #F58634;
    --cor5: rgba(58, 58, 58, 0.808);
    --cor6: black;
    --cor7: #57A695;
    --cor8: #687675;
    --cor9: #606062;
    --cor10: #6A8787;

    --fonte-texto: 'arial', verdana, helvetica;
    --fonte-destaque: 'destaque', sem serifa;
    --fonte-header: 'alfa', Courier, monospace;
}

* {
    margin: 0px;
    padding:  0px;
   }

html, body {
    min-height: 100vh;
    background-image: linear-gradient(var(--cor5), var(--cor8));
    margin:0px;
    padding:0px;
   font-family: var(--fonte-texto);
   
        
}







.container {
    position: relative;
  }
  
  #image {
    position: absolute;
  }
  
  #texto {
    position: absolute;    
    font-size: 18px;
    font-weight: bold;
    left: 15px;
    top: 10px;
    color: var(--cor0);
    text-shadow: 1px 1px 0px var(--cor6);
  }

  .container {
     width: 100px;
     height: 100px;
     overflow: hidden;
     border: 0px solid #000;
  }
  
  .container {
     width: 80%;
     height: 80%;
     -webkit-transition: -webkit-transform .6s ease;
     transition: transform .6s ease;
  }
  
  .container:hover img{
     -webkit-transform: scale(1.1);
     transform: scale(1.1);
  }








header {/*linear-gradient(var(--cor8), var(--cor6));*/
    background-image: url('../image/capaAlfaNerd2.png');
    margin: 0px;
    padding: 25px 0px 35px 0px;
    padding-bottom: 125px;
    position: ;
    background-repeat: no-repeat;
    background-size: cover; 
}


header img  {
    max-width: 450px;
    padding: 50px 0px 0px 30px ;
  }

  header div {
      padding: 0px;
      margin: 0px 0px 0px 0px;
  }

header h1 {
    color: var(--cor4);
    font-family: var(--fonte-destaque);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding: 10px;
    padding-top: 25px;
    font-size: 4vw; /* coloca a letra vw (view weight) pra aumentaR ou diminuir de acordo com a tela*/
}

header p {
    color: var(--cor1);
    font-weight: normal;
    font-family: var(--fonte-destaque);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-size: 3vw;
    font-weight: bold;
    
}



header div.imagens_home {
    text-align: center;
    }







nav {
    background-image: linear-gradient(var(--cor5), var(--cor6));
    text-align: left;
    margin: 1px 0px;
    padding: 10px  30px 10px;
    font-family: var(--fonte-destaque);
    position: sticky;
    top: 0;
    background-color:
 }

 nav > a {
    color: var(--cor0);
    text-shadow: 1px 1px 0px var(--cor6);
   /* font-size:  max(12px, 2.7vw); */
    font-size:  min(16px, 2.9vw);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

nav >a:hover {
    background-color: var(--cor) ;
    color: var(--cor1);
}







article {
    background-color: var(--cor0);
    padding: 10px;
    text-align: justify;
    font-size:  min(16px, 2.9vw);
}

article h1 {
    padding: 0px 0px 10px 0px;
    font-size:  min(18px, 4.5vw);
}
article h2 {
    padding: 0px 0px 0px 0px;
    margin: 0px
    font-size:  min(16px, 2.9vw);
}

article p {
    padding: 0px 0px 10px 5px;
    font-size:  min(16px, 2.9vw);
}

article.artigo2 {
    background-color: var(--cor0);
    padding: 10px;
    text-align: justify;
    font-size:  min(16px, 2.9vw);
}

article.artigo2 h2 {
    padding: 0px 0px 10px 0px;
    font-size:  min(16px, 2.9vw);
}

article.artigo2 p {
    padding: 0px 0px 10px 5px;
    font-size:  min(16px, 2.9vw);
}








main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.603);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}





main img {
    width: 100%;
    height: 100%;
        
}


main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}




div.video {
    background-color: var(--cor6);
    margin: 5px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

div.picture {
    width: 100%;
    height: 100%;
    text-align:  right;
}









section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height:2em;
    padding-left: 30px;
    padding-right: 30px;
    font-family: var(--fonte-estilo);
    
}

section.padrao {
    background-color: white;
    color: black;
    text-align: justify;
    padding: 0px;
    margin: 0px;
    line-height:1.5em;
}

section.imagem {
    background-color: darkgrey;
    color: white;
    text-align: justify;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.774);
    background-attachment: fixed;
    background-size: cover;
}

section.normal {
    background-color: white;
    color: black;
    text-align: justify;
}

section.imagem > p {
    
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.555);
    padding-right: 30px;
    text-align: justify;
    padding-bottom: 2em;
    text-shadow: 1px 1px 0px black;
}

section.normal > p {
    padding-bottom: 2em;
    background-color: white;
    padding-right: 30px;
    text-align: justify;
}

section#img01 {
    background-image: url('..//image/esquadrao.jpg');
    background-position: right center;
    
}

section#img02 {
    background-image: url('..//image/ultimatum.jpg');
    background-position: right center;
    
}

section#img03 {
    background-image: url('..//image/ultimatum.jpg');
    background-position: right center;
    
}

section#sobrenos {
    background-image: url('..//image/capaAlfaNerd.png');
    background-position: right center;
    
}







aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.281);

}

aside {
    background-color: var(--cor3);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.281);

}

aside ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
    color: var(--cor0);

}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    
}

aside >  p {
    background-color: var();
    color: white;  
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: var(--cor1);
 }


footer {
    background-image: linear-gradient(var(--cor5), var(--cor6));
    padding: 10px 0px 100px 15px; 
    font-family: var(--fonte-destaque);;      
}

.alfanerd {
    color: var(--cor1);    
    text-shadow: 2px 2px 0px var(--cor6);
    text-align: center;
    font-weight:bolder;
    font-size: 1.5em;    
    margin-top: 10px;
    margin: 0px 0px 1px 0px;
}


footer p {
    color: var(--cor0);
    font-weight:normal;
    font-size: 0.8em;
    text-shadow: 2px 2px 0px var(--cor6);
    text-align: center;
    font-family: var(--fonte-texto);
}

